{% extends 'dashboard.html.twig' %}

{% block content %}
    <h1>Control</h1>

    <table>
        <tbody>
            <tr>
                <th>Tonextversion</th>
                <td>{{ control.tonextversion }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ control.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('control_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('control_edit', { 'id': control.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
