{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    {% if error %}
        <div class="row login-error">
            <div class="text-center flash-error">
                Złe dane logowania
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="logo-img">
                <img src="{{ asset('images/logo_d_w.png') }}" />
            </div>
            <div class="company-name">
                <p><h3><b>Znajdz to!</b></h3></p>
                <p><h4>Panel administratora</h4></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 none-top-margin">
            <div class="login-panel panel panel-default panel-login">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-unlock fa-fw"></i> Zaloguj się</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path('security_login') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control input-sm" placeholder="Nazwa użytkownika" name="_username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm" placeholder="Hasło" name="_password" type="password" value="">
                            </div>
                            <button type="submit"class="btn btn-sm btn-primary btn-block">Zaloguj</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}